.contact {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFBEE;
}

.contact__image-wrapper {
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__image {
    width: 100%;
}

.contact__right-side {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 7.3% 0 4.7%;
    width: 50%;
}

.contact__title {
    font-size: 100px;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.contact__form-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.contact__input-line {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 45px;
}

.contact__label {
    font-size: 18px;
    font-weight: 600;
}

.contact__input {
    height: 30px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    background-color: transparent;
}

.contact__input--textarea {
    height: 100px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    background-color: transparent;
    resize: none;
}

.contact__submit-button {
    padding: 18px 55px;
    background-color: #121212;
    border-radius: 50px;
    color: #f2f2f2;
    font-weight: 600;
    border: none;
    font-size: 18px;
    cursor: pointer;

    &:hover {
    background-color: #2e2e2e;
    }
}

@media only screen and (max-width: 768px) {
    .contact__title {
    font-size: 24px;
    text-align: center;
    }

    .contact__label {
    font-size: 14px;
    }

    .contact__input, .contact__input--textarea {
    height: 35px;
    font-size: 14px;
    }

    .contact__submit-button {
    padding: 12px 30px;
    font-size: 14px;
    }

    .contact__image {
    height: auto;
    }

    .contact__form-wrapper {
    width: 90%;
    }
}

@keyframes show {
    from {
    opacity: 0;
    transform: scale(0.25);
    }

    to {
    opacity: 1;
    transform: scale(1);
    }
}



@media only screen and (max-width: 768px) {
    .contact__title {
    font-size: 24px;
    text-align: center;
    }

    .contact__label {
    font-size: 14px;
    }

    .contact__input, .contact__input--textarea {
    height: 35px;
    font-size: 14px;
    }

    .contact__submit-button {
    padding: 12px 30px;
    font-size: 14px;
    }

    .contact__image {
    height: auto;
    }

    .contact__form-wrapper {
    width: 90%;
    }
}